# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Gian's Shenanigans
email: gianfajardo.prim@gmail.com

# Your name for the copyright statements
author: Gian Fajardo

# This is the description of your site used in the meta data
description: >- # this means to ignore newlines until "baseurl:"
  This is a repository and blog for all my interests. Thank you for visiting!
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://dnblvr.github.io/" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  dnblvr
github_link: "https://github.com/dnblvr"

# Custom logos
logo_1: /assets/img/logo_1.jpg
logo_1_description: "REA Poster Art"

logo: logo_1
logo_description: logo_1_description

# Build settings
markdown: kramdown
kramdown:
  math_engine: null
  input: GFM
  hard_wrap: false

theme: jekyll-theme-minimal
remote_theme: pages-themes/minimal@v0.2.0
plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jemoji


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
